* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
}

html {
  background-color: rgb(27, 27, 27);
  font-size: 20px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

@media (max-width: 1000px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

@font-face {
  font-family: "Fugaz One Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Fugaz One Regular"), url("FugazOne-Regular.woff") format("woff");
}

#menu {
  position: relative;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#getronics {
  position: absolute;
  top: 45vh;
}

#arrow {
  position: absolute;
  left: 50%;
  top: 90vh;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: cubic-bezier(0.91, 0.11, 0.09, 0.9);
  animation-name: anim;
}
@keyframes anim {
  /* The animation of the icons on the screen menu*/
  0% { left: 50%; top: 90vh;}
  25% {left: calc(50% - 10px);}
  50% {left: calc(50% + 10px);}
  75% {left: calc(50% + 10px);}
  100% { left: 50%; top: 90vh;}
}

.move {
  position: absolute;
  padding: 0;
  margin: 0;
}

.move:nth-child(3) {
  transform: translate(-50%, -80%);
  left: 75%;
  top: 30%;
}
.move:nth-child(4) {
  transform: translate(-50%, -80%);
  left: 20%;
  top: 20%;
}
.move:nth-child(5) {
  transform: translate(-50%, -80%);
  left: 50%;
  top: 20%;
}
.move:nth-child(6) {
  transform: translate(-50%, -90%);
  top: 85%;
  left: 80%;
}
.move:nth-child(7) {
  transform: translate(-50%, -60%);
  top: 80%;
  right: 45%;
}



.transition {
  height: 10rem;
  background-color: #fff;
  background: linear-gradient(180deg, #1b1b1b 30%, #4d6165 90%);
}

/*Key priorities part*/

#themes {
  background-color: #4d6165;
  font-family: "Fugaz One Regular";
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  min-height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background: linear-gradient(145deg, #4d6165, #a9bcbe);
}
.card:hover {
  box-shadow: inset 14.41px 14.41px 31px #4d6165,
    inset -14.41px -14.41px 31px #a6b8ba;
}
.speedo {
  position: relative;
  display: block;
  height: 6rem;
  width: 5rem;
}
.speedo circle {
  fill: none;
  stroke: #13547a;
  stroke-width: 0.5rem;
  transform: translate(0.5rem, 0.5rem);
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  stroke-linecap: round;
}
.speedo circle:nth-child(odd) {
  stroke: rgb(141, 145, 139);
  stroke-dashoffset: 0;
}
/*
To calculate the dashoffset you need to do
(((100-x)*360)*250)*360= value for the dashoffset
x is the percentage that you whant
*/
@keyframes circle1 {
  to {
    stroke-dashoffset: 62.5;
  }
}
@keyframes circle2 {
  to {
    stroke-dashoffset: 187.5;
  }
}
@keyframes circle3 {
  to {
    stroke-dashoffset: 125;
  }
}
@keyframes circle4 {
  to {
    stroke-dashoffset: 25;
  }
}
@keyframes circle5 {
  to {
    stroke-dashoffset: 162.5;
  }
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  font-size: 1rem;
  transform: translate(-1rem, -1.25rem);
}

.png {
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 4rem;
  height: 4rem;
  flex-grow: 1;
  transition: transform 0.3s, color 0.3s;
}

.titre {
  display: flex;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, color 0.3s;
}
.titre > p {
  color: black;
}

.titre > p:hover {
  color: #03e100;
}


#key_priorities {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

#key_priorities > a:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#key_priorities > a:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#key_priorities > a:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#key_priorities > a:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#key_priorities > a:nth-child(5) {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

@media (max-width: 600px) {
  #key_priorities {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }

  #key_priorities > a:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #key_priorities > a:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #key_priorities > a:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #key_priorities > a:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #key_priorities > a:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

/*graph part*/

.graph {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  background-color: rgb(27, 27, 27);
}

.graph > p {
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  margin: 0;
  font-size: 0.8rem;
  transform: translate(35vw, -6rem);
}

#columnchart {
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

.under {
  color: white;
}

.height {
  min-height: 80vh;
  padding-bottom: 4rem;
}

/*Table part*/

#wave {
  position: absolute;
  bottom: 0;
}

#leader {
  margin-top: 0;
  padding-bottom: 2rem;
  background-color: rgb(77, 97, 101);
  transform: translate(0, -2rem);
}

#leader > p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 1rem;
  padding-right: 5%;
  text-align: right;
  font-size: 0.8rem;
}
#leader > section {
  background-color: rgb(77, 97, 101);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#leader > h1 {
  margin-bottom: 0;
}
#leader > h2 {
font-size: 1rem;
padding-top: 2rem;
padding-bottom: 0.7rem;
}

h1, h2 {
  font-family: "Fugaz One Regular";
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}
.table {
  border-collapse: collapse;
  font-size: 0.9rem;
  text-align: center;
  min-width: 50%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.table thead tr {
  background-color:#2F4858;
  color: #fff;
}
.table th,
.table td {
  padding: 1rem, 2rem, 1rem;
}
.table th {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}
.table td {
  font-family: 'Quicksand', sans-serif;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.table tbody tr:nth-of-type(even) {
  background-color: #677987;
  color: #000;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #9BAEBC;
  color: #000;
}
.table tbody tr:last-of-type {
  border-bottom: 2px solid #2F4858;
}
.table-sortable th {
  cursor: pointer;
}
.table-sortable .th-sort-asc::after {
  content: "\25b4";
}
.table-sortable .th-sort-desc::after {
  content: "\25be";
}
.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}
.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.suit {
  padding-right: 0.2rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.suit > img {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 1rem;
  left: 0;
}


@media (max-width: 600px) {
  table {
    width: 80vw;
    text-size-adjust: inherit;
  }
  tr {
    font-size: 0.6rem;
  }
  th {
    font-size: 0.4rem;
  }
}

/*Footer part*/

footer {
  position: relative;
  padding: 4rem;
  padding-top: 1rem;
}

footer p {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fugaz One Regular";
  font-size: 0.8rem;
  margin-top: 2rem;
  color: #888;
}

#acceuil {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: auto;
  transform: rotate(180deg);
}

#acceuil2 {
  position: absolute;
  transform: translate(0, -5vh);
}

#acceuil:hover {
  color: #8ebf42;
}

#social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#social li {
  margin: 1rem;
}

.icon {
  display: block;
  width: 4rem;
  height: 4rem;
  color: #00d200;
  transition: transform 0.3s, color 0.3s;
}

.icon:hover {
  transform: scale(1.3);
}

.facebook:hover {
  color: #3b5998;
}

.linkedin:hover {
  color: #0e76a8;
}

.youtube:hover {
  color: #f00;
}

.twitter:hover {
  color: #55acee;
}
